.title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: clamp(30px, 10vw, 36px);
}

.label {
    color: var(--color-text) !important;
}

.button {
    width: 100%;
    padding: 20px 0 !important; 
    background-color: var(--color-btn-bg) !important;
    color: var(--color-btn-text) !important;
}

.hintWrapper {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}

.hintText {
    color: var(--color-gray);
     font-weight: 700;
}

.link { 
    cursor: pointer;
    color: var(--color-link);
}

