@import 'tailwindcss';
@import './_styles//colors.scss';
@import './_styles/themes/theme.scss';



body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

