$white: #fff;
$dark-white: #F7FAFA;
$black: #000;
$dark: #0D121C;
$gray1: #6B7280;


$blue-dark: #283a97;      
$blue-medium: #005dac;    
$blue-bright: #00aeef;    
$blue-light: #6acff6; 
$night-blue: #121421;   

