@mixin dark-theme {
    --color-bg: #{$night-blue};
    --color-text: #{$white};

    --color-link: #{$purple-dark};
    --color-gray: #{$gray1};

    --color-btn-bg: #{$blue-dark};
    --color-btn-text: #{$white};

}